<ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/agent">
        <div class="sidebar-brand-icon-n-15">
            <i class="fas fa-id-badge"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Agente </div>
    </a>

    <!-- Division de -->
    <hr class="sidebar-divider my-0">
    <!-- volver al Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/agent">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Division de sidebar -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        SITIO WEB
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/" target="_blank">
            <i class="fas fa-home"></i>
            <span>Make It Happen </span>
        </a>
    </li>

    <!-- Division -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
     </div>
    <!-- Sidebar Message -->
    <div class="sidebar-card">
        <i class="fas fa-hand-holding-heart"></i>
        <p class="text-center mb-2"><br><strong>MAKE IT HAPPEN</strong><br>Donaciones </p>
    </div>
</ul>