<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-lg-left">Copyright © Make It Happen. 2021 <br> Todos los Derechos Reservados </div>
      <div class="col-lg-6 my-3 my-lg-right-0">
        <a class="btn btn-dark btn-social mx-2" href="http://twitter.com"><i class="fab fa-twitter" alt="twitter"></i></a>
        <a class="btn btn-dark btn-social mx-2" href="http://facebook.com"><i class="fab fa-facebook-f" alt="facebok"></i></a>
        <a class="btn btn-dark btn-social mx-2" href="http://instagram.com"><i class="fab fa-instagram" alt="instagram"></i></a>
      </div> 
    </div>
  </div>    
</footer>