<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="logo">
        Make it Happen
      </span>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/#page-top">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about">Acerca de</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/#campana">Campañas </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/#team">Equipo</a>
        </li>
        {{#if nav}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Iniciar Sesion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/agente-login">Agente</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/lider-login">Lider</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/admin-login">Administrador</a>
          </div>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>