<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Make It Happen</title>
    <!-- Bootstrap CSS -->
    <!-- Custom fonts for this template-->
    <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/main.css">
    <!-- Custom styles for this template-->
    <link href="public/css/usuarios.css" rel="stylesheet">
    <link href="public/css/login.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <!--Navbar-->
    {{> navbar }} 
    <!--end of Navbar-->
    {{{body}}}
    {{> errors}}
    {{> messages}}
    <!--pie de pagina-->
    {{> footer }}
    <!-- fin pie de pagina-->
    <!----->
    <!----->
    <!-- Bootstrap core JavaScript-->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="public/js/sb-admin-2.min.js"></script>
  </body>
</html>