<!-- Page Wrapper -->
  
    <div id="wrapper">

        <!-- Sidebar  -->
        {{>admin-sidebar}}
        <!-- End of Sidebar -->

            <!-- Main Content -->
            <div class="container">
                <div class="card o-hidden border-0 shadow-md my-5">
                    <div class="card-body p-2">

                    <div class="row Content-align-center">
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Agregar Producto a Campaña</h1>
                            </div>
                            <form action="" method="POST" class="user">
            
                <div class="form-group">
                    <input type="text" name="ID" class="form-control form-control-user" id="ID de Campaña" placeholder="ID de campaña">
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control form-control-user" id="Nombre del producto" placeholder="Nombre del producto">
                </div>
                <div class="form-group">
                    <input type="text" name="descripcion" class="form-control form-control-user" id="descripcion del producto" placeholder="descripcion del producto">
                </div>
                  <div>
                        <imput type="submit" value="Register"/>
                        <button type="submit" class="btn btn-info btn-user btn-block">Agregar</button>
                    </div>
            <!-- End of Main Content -->