<div id="wrapper">
    {{>admin-sidebar}}
    <div class="container">
        <div class="card o-hidden border-0 shadow-md my-5">
            <div class="card-body p-2">
                <!-- Nested Row within Card Body -->
                <div class="row Content-align-center">
                    <div class="col-lg-8">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Asignar Lider a Campaña</h1>
                            </div>
                            <form action="/asigna-lider" method="POST" class="user"> 
                                <div class="form-group">
                                    <input type="text" name="username" class="form-control form-control-campaña" id="username" placeholder="Nombre de usuario">
                                </div>        
                                <div class="form-group">
                                    <input type="text" name="id" class="form-control form-control-user" id="id" placeholder="ID de la campaña">
                                </div>
                                <div>
                                    <imput type="submit" value="Register"/>
                                    <button type="submit" class="btn btn-info btn-user btn-block">Listo!</button>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>