
<div class="container p-20">

<div class="card col-lg-20" style="width: 30rem;">
  <img src="public/img/donar.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Campaña</h5>
      <form action="/donar" method="POST" class="donar"> 
            <div class="form-group">
                <input type="text" name="monto" class="form-control form-control-donacion" id="monto" placeholder="Monto que desee donar">
            </div>
            <div class="form-group">
                <input type="text" name="comentario" class="form-control form-control-donacion" id="Comentario" placeholder="comentario">
            </div>
      </form>
        <div>
            <imput type="submit" value="Register"/>
                <button type="submit" class="btn btn-info btn-user btn-block">Donar</button>
        </div> 
    </div> 
</div> 

</div>
