<!--hero-->
 <header class="hero">
  <div class="container">
    <div class="hero-heading text-uppercase">Make it happen</div>
    <div class="hero-heading subheading">Donaciones</div>
    <a class="btn btn-dark btn-xl js-scroll-trigger" href="#about">Conocer Más</a>
  </div>
</header>
<!--hero--->
<!-- nosotros-->
<section class="page-section  my-5my-5" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Nosotros</h2>
      <h3 class="section-subheading text-muted">Make it happen una fundacion donde millones de sueños se convierten en realidad <br> través de la suma de pequeñas acciones que conforman grandes resultados.</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-info"></i>
          <i class="fas fa-hand-holding-usd fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="my-3">Donar</h4>
          <p class="text-muted ">No eres único, pero eres alguien. No puedes hacer todo, pero puedes hacer algo. <br> Y asi como tu, millones de personas mas que juntos <br><strong>HARÁN QUE SUCEDA</strong></p>
      </div>
    </div>
  </div>
</section>
<!--fin nosotros--> 
<!-- campañas-->
<!-- campañas-->
<section class="page-section bg-light my-5" id="campana">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Campañas</h2>
          <h3 class="section-subheading text-muted">LA ACCIÓN MÁS PEQUEÑA ES MEJOR QUE LA INTENCIÓN MÁS GRANDE, CADA APORTE CUENTA.</h3>
      </div>
      <!---------------------------------------------->
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="campana-item">
                <a class="campana-link" data-toggle="modal" href="/donacion">
                    <div class="campana-hover">
                        <div class="campana-hover-content"><i class="fas fa-hand-holding-medical fa-3x"></i></div>
                    </div>
                    <img style= "width:22.5rem; height:20rem;" class="img-fluid" src="public/img/donate.png" alt="donar1" />
                </a>
                <div class="campana-caption">
                    <div class="campana-caption-heading">Tu</div>
                 
                </div>
            </div>
        </div>
          <!---------------------------------------------->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="campana-item">
                    <a class="campana-link" data-toggle="modal" href="/donacion">
                        <div class="campana-hover">
                            <div class="campana-hover-content"><i class="fas fa-hand-holding-medical fa-3x"></i></div>
                        </div>
                        <img style= "width:22.5rem; height:20rem;" class="img-fluid" src="public/img/donate5.jpg" alt="donar2" />
                    </a>
                    <div class="campana-caption">
                        <div class="campana-caption-heading">Ayuda</div>
                     
                    </div>
                </div>
            </div>
          <!---------------------------------------------->
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="campana-item">
                  <a class="campana-link" data-toggle="modal" href="/donacion">
                      <div class="campana-hover">
                          <div class="campana-hover-content"><i class="fas fa-hand-holding-medical fa-3x"></i></div>
                      </div>
                      <img style= "width:22.5rem; height:20rem;" class="img-fluid" src="public/img/donate3.jpg" alt="donar3" />
                  </a>
                  <div class="campana-caption">
                      <div class="campana-caption-heading">Cuenta </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- fin campañas-->
<!--equipo-->
<section class="team-section mt-5"  id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Equipo</h2>
      <h3 class="section-subheading text-muted">Somos estudiantes de la Universidad de Oriente</h3>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="team-member box">
          <div class="content">
            <h4 class="text-dark">María López</h4>
            <p class="text-muted">V-27.182.207</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-member box">
          <div class="content">
            <h4 class="text-dark">José Gómez</h4>
            <p class="text-muted">V-27.147.101</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-member box">
          <div class="content">
            <h4 class="text-dark">Lusandre Marcano</h4>
            <p class="text-muted">V-28.349.644</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-member box">
          <div class="content">
            <h4 class="text-dark">Luisana Hernández</h4>
            <p class="text-muted">V-27.525.359</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin equipo-->
<a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>