<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-5 my-5">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row my-5">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">¡Bienvenido!</h1>
                  </div>
                  <form action="/lider-login" method="POST" class="user">
                    <div class="form-group">
                      <input type="text" name="username" class="form-control form-control-user" placeholder="Ingrese su Usuario..." aria-label="Username" aria-describedby="userHelp">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control form-control-user"
                        id="exampleInputPassword" placeholder="Ingrese Contraseña...">
                    </div>
                      <button type="submit" class="btn btn-info btn-lg btn-block btn-sm">Ingresar</button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/">Volver</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>