<div id="wrapper">
    {{>lider-sidebar}}
    <div class="container">
        <div class="card o-hidden border-0 shadow-md my-5">
            <div class="card-body p-2">
                <div class="row Content-align-center">
                    <div class="col-lg-8">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4"> MODIFICAR CAMPAÑA</h1>
                            </div>
                            <form class="campana">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-campaña" id="exampleInputlider"
                                        placeholder="Monto Objetivo">
                                </div>  
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-campaña" id="exampleInputCampana"
                                        placeholder="Nombre de la Campaña">
                                </div>        
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="exampleInputDescripcion"
                                        placeholder="Propósito">
                                </div>
                                <a href="lider.html" class="btn btn-info btn-user btn-block">
                                    Actualizar 
                                </a>     
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>