<div id="wrapper">
    {{>admin-sidebar}}
    <div class="container">
        <div class="card o-hidden border-0 shadow-md my-5">
            <div class="card-body p-2">
                <!-- Nested Row within Card Body -->
                <div class="row Content-align-center">
                    <div class="col-lg-8">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Registrar Nuevos Usuarios</h1>
                            </div>
                            <form action="/registrar" method="POST" class="user">
                                <div class="mb-3-sm-0">
                                    <label for="exampleFormControlInput" class="form-label">Tipo de Usuario</label>
                               </div>
                               <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="TRUE" name="admin">
                                    <label class="form-check-label" for="inlineCheckbox1">Administrador</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="TRUE" name="lider">
                                    <label class="form-check-label" for="inlineCheckbox2">Lider de Campaña</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="TRUE" name="agente">
                                    <label class="form-check-label" for="inlineCheckbox3">Agente</label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" name="nombre" class="form-control form-control-user" id="nombre" placeholder="Nombre">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="apellido" class="form-control form-control-user" id="apellido" placeholder="Apellido">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="username" class="form-control form-control-user" id="username" placeholder="Nombre de Usuario">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control form-control-user" id="email" placeholder="Correo Electrónico">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" name="password" class="form-control form-control-user" id="password" placeholder="Contraseña">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" name="password2" class="form-control form-control-user" id="password2" placeholder="Repetir Contraseña">
                                    </div>
                                </div>
                                <div>
                                    <imput type="submit" value="Register"/>
                                    <button type="submit" class="btn btn-info btn-user btn-block">Registrar Usuario</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>