<div id="wrapper">
    {{>admin-sidebar}}
    <div class="container">
        <div class="card o-hidden border-0 shadow-md my-5">
            <div class="card-body p-2">
                <!-- Nested Row within Card Body -->
                <div class="row Content-align-center">
                    <div class="col-lg-8">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear una CAMPAÑA</h1>
                            </div>
                            <form action="/registrar-campana" method="POST" class="campana"> 
                                <div class="form-group">
                                    <input type="text" name="nombre" class="form-control form-control-campaña" id="nombre" placeholder="Nombre de la Campaña">
                                </div>        
                                <div class="form-group">
                                    <input type="text" name="descripcion" class="form-control form-control-user" id="descripcion" placeholder="Descripcion...">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="monto" class="form-control form-control-user" id="monto" placeholder="Monto Deseado">
                                </div>
                                <div>
                                    <imput type="submit" value="Register"/>
                                    <button type="submit" class="btn btn-info btn-user btn-block">Registrar Campaña</button>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>