:root{
    --green: #387c6d;
    --teal: #94CFD3;
    --dark-gray: #202020;
    --gray: #1E1E1E;
    --white: #f1f1f1;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}
.logo{
    color: #fff;
}
.navbar-custom {
padding-top: 1rem;
padding-bottom: 1rem;
background: rgb(32, 32, 32);
}
#page-top {
    background-color:#ffffff ;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
    /*background: currentColor;*/
}
.footer{
    background-color: #fff;
}
