:root{
  --green: #387c6d;
  --teal: #94CFD3;
  --dark-gray: #202020;
  --gray: #1E1E1E;
  --white: #f1f1f1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body{
  font-family: 'Nunito Sans', sans-serif;
}
.btn-info {
  color: #000;
  background-color: #94CFD3;
  border-color: #94CFD3;
}
.logo  {
  color: #f1f1f1;
}

.navbar-custom {
padding-top: 1rem;
padding-bottom: 1rem;
background: rgb(32, 32, 32);
}
.page-section {
  padding: 6rem 0;
}
.page-section h3.section-subheading {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4rem;

}

.page-section h2.section-heading {
  font-size: 2.5rem;
  padding-top: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #387c6d;
}
/* fin del navbar*/
.hero {
    padding-top:10.5rem ;
    padding-bottom: 6rem;
    text-align: center;
    color: #000;
    background-image: url("/public/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}
.hero-heading {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3.25rem;
    margin-bottom: 2rem;

}
/* fin de hero*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.row-cols-3 > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .row-cols-lg-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
.page-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;
  }
  /*fin de about*/
  /* campaña */
  #campana .campana-item {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }
  #campana .campana-item .campana-link {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  #campana .campana-item .campana-link .campana-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #387c6d;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
  }

  #campana .campana-item .campana-link .campana-hover 
  .campana-hover-content {
    font-size: 1.25rem;
    color: white;
  }
  #campana .campana-item .campana-link:hover .campana-hover {
    opacity: 1;
  }
  #campana .campana-item .campana-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: #fff;
  }
  #campana .campana-item .campana-caption .campana-caption-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  #campana .project-item .campana-caption .campana-caption-subheading {
    font-style: italic;
   }
  
  .campana-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .campana-modal .modal-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
  }
  .campana-modal .modal-content h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .campana-modal .modal-content p.item-intro {
    font-style: italic;
    margin-bottom: 2rem;
}
  .campana-modal .modal-content p {
    margin-bottom: 2rem;
  }
  .campana-modal .modal-content ul.list-inline {
    margin-bottom: 2rem;
  }
  .campana-modal .modal-content img {
    margin-bottom: 2rem;
  }
  .campana-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
  }
  .campana-modal .close-modal:hover {
    opacity: 0.3;
  }
/* fin de campaña*/
.box 
{
  position: relative;
  width: 300px;
  height: 199px;
  margin: 0px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.box .content
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.box .content h2
{
	margin: 0;
	padding: 0;
}
.box .content a
{
	text-decoration: none;
	background: #000;
	color: #fff;
	padding: 5px;
	display: inline-block;
}
.box .content h2,
.box .content p,
.box .content a
{
	opacity: 0;
	transition: 0.2s;
	transform: translateY(20px);
}
.box:hover .content h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.2s
}
 .box:hover .content p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}

.navbar-brand{
  margin-right: 15rem;
}

/* End of Team Section*/
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}
/* -------------------------------------------------------*/
