:root{
    --green: #387c6d;
    --teal: #94CFD3;
    --dark-gray: #202020;
    --gray: #1E1E1E;
    --white: #f1f1f1;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
    background: white;
}
.card-body  {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    
  }
  
